.font-primary {
    font-family: 'Chivo', sans-serif;
}
.bg-primary{
    background-color: #D49A47 !important;
}
i.fab:hover{
    color: #D49A47 !important;
}
.text-merah{
    color: #AC424D !important;
}
.text-biru{
    color: #31336C !important;
}